/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    margin: 0;
}

body {
    align-items: center;
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgb(235, 69, 120)), color-stop(100%, rgb(235, 100, 69)));
    /* background: linear-gradient(rgb(235, 69, 120), rgb(235, 100, 69)); */
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

button {
    height: 50px;
    width: 50%;
    font-size: 20px;
    color: rgb(235, 69, 120);
    background-color: white;
    border-radius: 10px;
    border-color: 3px solid white;
}

input {
    height: 50px;
    width: 75%;
    font-size: 20px;
    text-align: center;
    color: rgb(235, 69, 120);
    border-radius: 10px;
    border-color: 3px solid white;
    margin-bottom: 15px;
}

h1 {
    font-weight: bold;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

li {
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 2.5rem;
}

table {
    width: 90%;
    border-collapse: collapse;
    border: 3px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

td, th {
    border: 1px solid white;
    padding: 0.5rem;
    text-align: center;
}

tr:first-child {
    font-weight: bold;
}

.container {
    color: white;
    margin: 0 auto;
    text-align: center;
    user-select: none;
    width: 100%;
}

.description {
    font-size: 20px;
    margin-bottom: 15px;
}

.label {
    font-size: 20px;
    margin-bottom: 10px;
}

/* #scrollableContainer {
    overflow-y: scroll;
    height: 75%;
} */

#participant {
    font-weight: 700;
}